<div class="toolbar" role="banner">
    <img width="200" class="float-left mt-1 ml-5" src="../assets/img/Nova-ID-Visual-Infosistemas.png" />
    <h6 class="float-left ml-4 mt-3 mb-4"> Teste Desenvolvedor - Lista de Veículos</h6>
    <h6 class="float-right mr-5 mt-3 mb-4"> Por Matheus Thibau Paulino</h6>
</div>

<div class="content ml-5 mr-5 mt-3" role="main">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Placa</th>
                <th scope="col">Chassi</th>
                <th scope="col">Renavam</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Ano</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let veiculo of veiculos; index as i">
                <td>{{i+1}}</td>
                <td>{{veiculo.placa}}</td>
                <td>{{veiculo.chassi}}</td>
                <td>{{veiculo.renavam}}</td>
                <td>{{veiculo.modelo}}</td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.ano}}</td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>
